/vendor
composer.phar
composer.lock
*.swp
*.swo
TAGS
.#*
/src/*/*/Model/map
/src/*/*/Model/om
/app/propel/*-conf.php
/app/propel/*-conf.xml
/app/propel/schema.xml
/app/sql
/app/log
/app/cache
/bin/propel-gen*
/bin/pscss
/bin/phing
/web/uploads
/web/uploads/*
/.vagrant
/web/adminer.php
/app/assets/bower_components
/web/assets
/web/assets/*
/.idea